.header-wsvg {
    min-height: 95vh;
    padding: 5rem;

    @include display-flex;

    // background-image: linear-gradient(to right bottom, rgba($teal,0.6),rgba($light-blue,0.6));

    // background-image: linear-gradient(to right bottom, transparent,transparent);
    
    color:$white;

    @media only screen and (max-width: $bp-large) {
            padding: 3.5rem;
    }
    @media only screen and (max-width: $bp-small) {
        padding: 2.5rem;
    }

    &__logo {
        margin: 0 auto;
        margin-bottom: 5rem;
        // height: 50rem; 
        max-height: 50rem; 
        width: 100%; 
        max-width: 50rem; 
        // display: flex;
        // @media only screen and (max-width:900px) {
        //     height: 20rem; 
        //     width: 20rem; 
        //     // padding: 5rem;
        // }
        // border:1px solid black;
    }

    &__text-box {
        
        // position: absolute;
        // top:40%;
        // left: 50%;
        // transform: translate(-50%,-50%);
        padding: 0;
        margin:0;
        // border:1px solid black;
        text-align:center;
    }
}


.image_svg 
{
    height: 90vh;
    background-image : url(../images/blue-bubbles-close-up.jpg);
    -webkit-mask-image :  url(../images/TR_logo_04.svg);
    -webkit-mask-size : cover;

    mask-image : url(../images/TR_logo_04.svg);
    mask-size : cover;
    background-image: none;
}

.header {
    height: 95vh;
    min-height: 600px;
    // width: 100%;
    // float: left;
    // color: $white;
    background: url('https://picsum.photos/id/1002/4312/2868') no-repeat center fixed;
    // background-size: cover;
    background-position: top;
    background-color: $teal;
    // margin-bottom: 1px;
    position: relative;

     color: $white;

     &__text-box {
       position: absolute;
       top:40%;
       left: 50%;
       transform: translate(-50%,-50%);
       text-align:center;
    }

     &__logo-box {
        position: absolute;
        top: 4rem;
        left:4rem;
    }

     &__logo {
        height: 3.5rem;
    }

 }
