// Colors 
$off-black:#20222b;
$off-white:#a5afd7;
$dark-blue:#333745;
$blue:#3c4251;
$light-blue:#464b5e;
$purple:#8357c5;

$black_ash:#262834;
$ash:#F1F1F1;
$white:#FFF;
$teal:#50eae0;
$dark-grey:#575B72;

// size
$m-size:1.9rem;//1.6rem;
$m2-size:1.6rem;
$s-size:1rem;
$l-size:3.8rem; // 3.2
$l1-size:3.4rem; 
$xl-size:6.1rem;//4.8rem;



// Font Weigth 
$bold:400;
$light:100;

// Line Height
$normal:1.6;
$low:1.4;

$desktop-breakpoint : 45rem;


@mixin clearfix {
    clear: both;
    &::after {
        content: "";
        clear: both;
        // display: table;
    }
}