@import './base/settings';
@import './base/base';
@import './components/button';
@import './components/add-option';
@import './components/option';
@import './components/widget';
@import './components/container';
@import './components/header';
@import './components/modal';


@import '../../node_modules/normalize.css/normalize.css';



* {
    box-sizing: border-box;
    // margin: 0;
    // padding: 0;
  //  margin: 5;
//    padding: 5;
    /* border: 2px solid black; */
}

*, 
*:before,
*:after {
    box-sizing: inherit;
}





