.header {
    background: $off-black;
    margin-bottom: $xl-size;
    padding: $m-size 0;
    color:white;
    
}
 // BEM naming convention - Block element modifier
.header__title {
    font-size: $l-size;
    margin:0
}

.header__subtile {
    color:$off-white;
    font-size:$m-size;
    font-weight: 500;
    
}